<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/register.css"/>
		<script src="/javascripts/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/register.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="ZCB-R">
				<div>账户：<input type="text" placeholder="6-20位字母数字下划线 以字母开头"/></div>
		<p>**格式错误</p>
			<div>密码：<input type="password" placeholder="6-12位字母数字下划线" /></div>
			<p>**格式错误</p>
			<div>邮箱：<input type="text" placeholder="请填写QQ邮箱"/></div>
			<p>**格式错误</p>
			<input type="button" name="" id="btn" value="注册"/>
		</div>
		
	</body>
</html>
